.yr_bj{
	width: 100%;
	height:23rem;
	background: url(../images/1.jpg) no-repeat;
	background-size:cover ;
}
.xhr{
	position: absolute;
	bottom: 3.8rem;
	right: .5rem;
}
.list{
	width: 100%;
	height: 3rem;
	border-bottom: 0.025rem solid #ccc;
	line-height: 3rem;
	display: -webkit-box;
	-webkit-box-orient: horizontal;	
}
.list>p>a{
	-webkit-box-flex: 1;
	font-size: 0.6rem;
	color: #666666;
}
.list a>span{
	display:block;
	width: 1rem;
	font-size:.85rem;
	color:#222828;
	line-height:3rem;
	margin-right: 0.5rem;
}
