.r_header{
	width: 100%;
	color: #fff;
	font-family: "黑体";
	background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 3.5rem;
}
.r_header>p{
	width: 100%;
	height: 2.5rem;
	font-size:1rem ;
	line-height: 2.5rem;
	background: rgba(0,0,0,0.5);
	position: fixed;
	left: 0;
	top: 0;
}
.r_head{
	width: 100%;
	height: 7.5rem;
}
.circle{
	width:4.25rem;
	height: 4.25rem;
	border-radius: 50%;
	border: .05rem solid #8C88FF;
	margin: 0 auto;
	overflow: hidden;
}
.circle img{
	width: 100%;
	height: 100%;
}
.headName{
	font-size:.8rem;
	color:#fff;
	line-height:2rem;
}
.r_content{
	height: 2.5rem;
	border-bottom: 0.025rem solid #ccc;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.r_content>p:nth-child(1){
	-webkit-box-flex: 1;
	line-height: 2.5rem;
	font-size: .75rem;
	font-family: "微软雅黑";
}
.r_content>p:nth-child(2){
	font-size: .75rem;
	line-height: 2.5rem;
}
.exit{
	position: fixed;
	left:0;
	bottom: 3.5rem;
}
.y_tankuang{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.y_tankuang1{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.y_tankuang1>span.y_pass{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 29%;
	padding: 0 1rem;
}
.y_tankuang1>span>input{
	width: 100%;
	height: 2.2rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #fff;
}
.y_tankuang1>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 38%;
	padding: 0 1rem;
}
.y_tankuang>span.y_pass{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 29%;
	padding: 0 1rem;
}
.y_tankuang>span.y_pass>input{
	width: 100%;
	height: 2.2rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #fff;
}
.y_tan_user{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.y_tan_usera{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.y_tan_usera>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 29%;
	padding: 0 1rem;
}
.y_tan_usera>span>input{
	width: 100%;
	height: 2.2rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #fff;
}
.y_tan_usera>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 38%;
	padding: 0 1rem;
}

.y_tan_user>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 29%;
	padding: 0 1rem;
}
.y_tan_user>span>input{
	width: 100%;
	height: 2.2rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #000;
}
.y_tan_user>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 38%;
	padding: 0 1rem;
}


