.r_header{
	width: 100%;
	color: #fff;
	font-family:"trebuchet ms";
	background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 3.5rem;
}
.r_header>p{
	width: 100%;
	height: 2.5rem;
	font-size:1rem ;
	line-height: 2.5rem;
	background: rgba(0,0,0,0.5);
	position: fixed;
	left: 0;
	top: 0;
}
.r_head{
	width: 100%;
	height: 7.5rem;
}
.circle{
	width:4.25rem;
	height: 4.25rem;
	border-radius: 50%;
	border: .05rem solid #8C88FF;
	margin: 0 auto;
	overflow: hidden;
}
.circle img{
	width: 100%;
	height: 100%;
}
.headName{
	font-size:.8rem;
	color:#fff;
	line-height:2rem;
}
.r_content{
	height: 2.5rem;
	border-bottom: 0.025rem solid #ccc;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.r_content>p:nth-child(1){
	-webkit-box-flex: 1;
	line-height: 2.5rem;
	font-size: .75rem;
	font-family: "微软雅黑";
}
.r_content>p:nth-child(2){
	font-size: .75rem;
	line-height: 2.5rem;
}
.r_password{
	width: 95%;
	height: 1.75rem;
	margin-top: 1.5rem;
	margin-left:2.5%;
	word-spacing:.45rem;
	letter-spacing:0.375rem;
	font-size: .65rem;
}
.y_tankuang{
	display: none;
}
.y_tankuang1{
	width: 14rem;
	height: 17rem;
	border-radius: .5rem;
	background:#fff /*rgba(255,255,255,0.8)*/;
	box-shadow: 0 0 .8rem .08rem #B3D4FC;
	position: absolute;
	top: 3rem;
	left: 1rem;
	display: block;
}
.y_tankuang1>span.y_pass{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 10%;
	padding: 0 1rem;
}
.y_tankuang1>span>p{
	line-height: 1.5rem;
	font-size: .7rem;
}
.y_tankuang1>span>p>i{
	color: red;
}
.y_tankuang1>span>input{
	width: 100%;
	height: 2rem;
	padding-left: 0.5rem;
	border: 1px solid #000;
	border-radius: .5rem;
	color: #000;
}
.y_tankuang1>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 38%;
	padding: 0 1rem;
}
.y_tankuang>span.y_pass{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 10%;
	padding: 0 1rem;
}
.y_tankuang>span.y_pass>p{
	line-height: 1.5rem;
	font-size: .7rem;
}
.y_tankuang>span.y_pass>p>i{
	color: red;
}
.y_tankuang>span.y_pass>input{
	width: 100%;
	height: 2.2rem;
	padding-left: 0.5rem;
	border-radius: .5rem;
	border: 1px solid #CCCCCC;
	
}
.y_tan_user{
	width: 14rem;
	height: 17rem;
	border-radius: .5rem;
	background:#fff;
	box-shadow: 0 0 .8rem .08rem #B3D4FC;
	position: absolute;
	top: 3rem;
	left: 1rem;
	display: none;
}
.y_tan_usera{
	width: 14rem;
	height: 17rem;
	border-radius: .5rem;
	background:#fff;
	box-shadow: 0 0 .8rem .08rem #B3D4FC;
	position: absolute;
	top: 3rem;
	left: 1rem;
	display: block;
}
.y_tan_usera>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 29%;
	padding: 0 1rem;
}
.y_tan_usera>span>input{
	width: 100%;
	height: 2.2rem;
	padding-left: 0.5rem;
	border-radius: 0.5rem;
	border: 1px solid #CCCCCC;
	color: #000;
}
.y_tan_usera>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 38%;
	padding: 0 1rem;
}

.y_tan_user>span.y_name{
	display: block;
	width: 100%;
	height: 10rem;
	position: absolute;
	top: 29%;
	padding: 0 1rem;
}
.y_tan_user>span>input{
	width: 100%;
	height: 2.2rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #000;
	color: #000;
}

.r_close{
	font-size: 1rem;
	position: absolute;
	top: .7rem;
	right: .7rem;
}

