.lik_wrap{
	width:100%;
	min-height:100vh;
	overflow: hidden;
	box-sizing:border-box;
	position:relative;
	background: #303030;
	-background:url(../images/bg3.jpg) no-repeat;
	background-size:100% 100%;
	color: #555;
}
.lik_wrap .lik_info{
	width:100%;
	height:100vh;
}
.lik_wrap .lik_info h1{
	font-size:24px;
	line-height:100vh;
	color:#fff;
	text-align: center;
}
.lik_wrap .lik_info p{
	text-indent:2em;
	width:90%;
	margin:0 auto;
	line-height:160%;
	margin-top:.5rem;
	font-family:"宋体";
	font-size:.7rem;
	letter-spacing: 1px;
}
.lik_wrap a.goOn{
	display: block;
	width:80%;
	height:2rem;
	text-align:center;
	line-height:2rem;
	font-size:.9rem;
	border-radius:6px;
	color:#3C3C3C;
	background-color: #F2F4F3;
	border:1px solid #3C3C3C;
	position:absolute;
	bottom:2rem;
	left:50%;
	margin-left:-40%;
}
.lik_wrap a.goBack{
	font-size:1.2rem;
	position:absolute;
	left:1.4rem;
	top:.9rem;
}
.lik_survey h1{
	width:100%;
	height:1.8rem;
	color:#fff;
	line-height:1.8rem;
	font-size:1.4rem;
	text-align:center;
	margin-top:3.5rem;
	font-family:"黑体";
}
.lik_survey .lik_survey_question{
	width:90%;
	overflow: hidden;
	margin:1rem auto;
}
.lik_survey .lik_survey_question .lik_ques_head{
	width:100%;
	height:1.5rem;
	clear:both;
	-border-bottom: 0.025rem solid #fff;
}
.lik_survey .lik_survey_question .lik_num{
	width:1.3rem;
	height:1.3rem;
	font-size:.8rem;
	text-align:center;
	line-height:1.5rem;
	background:url(../images/star_bg.png) no-repeat;
	background-size:100% 100%;
	float:left;
}
.lik_survey .lik_survey_question .lik_ques{
	float:left;
	font-size:.8rem;
	margin:.5rem 0 0 .8rem;
	clear:right;
	color: #fff;
}
.lik_survey .lik_survey_question .lik_ques_cont{
	width:100%;
	height:1.2rem;
	color:#fff ;
}
.lik_survey .lik_survey_question .lik_ques_cont .lik_ques_opt{
	width:100%;
	height:1.2rem;
	font-size:.8rem;
	line-height:170%;
}
.lik_survey .lik_survey_question .lik_ques_cont .lik_ques_opt input{
	margin:0 .5rem;
}
.lik_survey .aSubmit{
	display:block;
	width:70%;
	text-align:center;
	font-size:.8rem;
	color:#A9906F;
	background: #cff;
	border-radius:8px;
	margin:1rem auto;
}
textarea{
	border:2px solid #eee;
	background:transparent;
}
input[type="radio"],input[type="checkbox"]{
	vertical-align: middle;
	margin-top:6px;
}
