.lik_wrap{
	width:100%;
	min-height:100vh;
	overflow: hidden;
	background:#E3E9E9;
	box-sizing:border-box;
	padding-top:2.5rem;
	position:relative;
}
.lik_wrap .lik_info{
	width:80%;
	height:70%;
	overflow: scroll;
	background:#E3E9E9;
	border:2px solid #fff;
	border-radius:8px;
	padding:1rem 0;
	box-shadow:0 0 10px 7px #C5D3DA inset;
	margin:0 auto;
}
.lik_wrap .lik_info h1{
	font-size:24px;
	line-height:120%;
	text-align: center;
}
.lik_wrap .lik_info p{
	text-indent:2em;
	width:90%;
	margin:0 auto;
	line-height:160%;
	margin-top:.5rem;
	font-family:"宋体";
	font-size:.7rem;
	letter-spacing: 1px;
}
.lik_wrap a.goOn{
	display: block;
	width:80%;
	height:2rem;
	text-align:center;
	line-height:2rem;
	font-size:.9rem;
	border-radius:6px;
	color:#3C3C3C;
	background-color: #F2F4F3;
	border:1px solid #3C3C3C;
	position:absolute;
	bottom:2rem;
	left:50%;
	margin-left:-40%;
}
.lik_wrap a.goBack{
	font-size:1.2rem;
	position:absolute;
	left:1.4rem;
	top:.9rem;
}
.lik_survey h1{
	width:100%;
	height:1.8rem;
	line-height:1.8rem;
	font-size:1.4rem;
	text-align:center;
	margin-top:-1.2rem;
}
.lik_survey .lik_survey_question{
	width:90%;
	overflow: hidden;
	margin:1rem auto;
}
.lik_survey .lik_survey_question .lik_ques_head{
	width:100%;
	height:1.5rem;
	clear:both;
}
.lik_survey .lik_survey_question .lik_num{
	width:1.3rem;
	height:1.3rem;
	font-size:.8rem;
	text-align:center;
	line-height:1.3rem;
	background-color:#f66;
	border-radius:50%;
	color:#906;
	float:left;
}
.lik_survey .lik_survey_question .lik_ques{
	float:left;
	font-size:.8rem;
	margin:.5rem 0 0 .8rem;
	clear:right;
}
.lik_survey .lik_survey_question .lik_ques_cont{
	width:100%;
	height:1.2rem;
}
.lik_survey .lik_survey_question .lik_ques_cont .lik_ques_opt{
	width:100%;
	height:1.2rem;
	font-size:.8rem;
	line-height:170%;
}
.lik_survey .lik_survey_question .lik_ques_cont .lik_ques_opt input{
	margin:0 .5rem;
}
.lik_survey .aSubmit{
	display:block;
	width:70%;
	height:1.5rem;
	line-height:1.5rem;
	text-align:center;
	color:#fff;
	background: #f60;
	border-radius:8px;
	margin:1rem auto;
}
