*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
a:visited{
	text-decoration: none;
	color: #fff;
}
a:active{
	text-decoration: none;
	color: #fff;
}
html,body{
	width: 100%;
	/*height: 100%;*/
}
input{
	outline: none;
	border: none;
	background: none;
	color: #fff;
}
.y_box{
	width: 100%;
	height: 100vh;
	background: url(../images/bg.jpg) center no-repeat;
    background-size: 100% 100%;
}
.y_logo{
	width: 100%;
	height: 8.52rem;
}
.y_logo_bot{
	width: 4.25rem;
	height: 4.25rem;
	overflow: hidden;
	left: 40%;
	border-radius: 50%;
	position: absolute;
	margin-top: 2rem;
	background: url(../images/y_logo.png) center no-repeat;
	background-size: 4.25rem;
}
.y_nav{
	min-height: 15rem;
	margin: 0 0.6rem;
	border: 1px solid #fff;
	border-radius: 10px;
	overflow: hidden;
	padding-bottom: 2rem;
	position: relative;
}
.y_nav_top{
	height: 2.2rem;
	margin: 0 0.5rem;
}
.y_nav_top>div{
	display: block;
	width: 50%;
	height: 2.2rem;
	float: left;
	text-align: center;
	line-height: 2.2rem;
	color: #fff;
	font-size: 0.7rem;
}
.y_nav_top>div.active{
	border-bottom: 1px solid #8d8aff;
}
/*注册*/
.y_nav_center_left{
	width: 100%;
	padding-top: 0.3rem;
	position: absolute;               
    top: 2.2rem;
    transition: left 1s;
    left: 0;
}
.y_nav_center_left>div{
	margin: 0 0.5rem;
	height: 1.95rem;
	display: flex;
	border-bottom: 1px solid #e1e1e1;
}
.y_nav_center_left>div.y_nav_mtop{
	margin-top: 0.2rem;
}
.y_nav_center_left>div>span{
	display: block;
	color: #fff;
	font-size: 1rem;
	padding-left: 0.3rem;
	line-height: 1.95rem;
}
.y_nav_center_left>div>input{
	flex: 1;
	padding-left: 0.5rem;
}
.y_denglu{
	display: block;
	width: 100%;
	height: 2rem;
	margin-top: 1.5rem;
}
.y_denglu>p{
	display: block;
	margin: 0 0.5rem;
	background: #8c88ff;
	height: 1.75rem;
	text-align: center;
	line-height: 1.75rem;
	font-size: 0.7rem;
	color: #fff;
	border-radius: .4rem;
}
/*登录*/
.y_nav_center_right{
	width: 100%;
	padding-top: 0.3rem;
	position: absolute;               
    top: 2.2rem;
    transition: left 1s;
    left: 100%;
}
.y_nav_center_right>div{
	margin: 0 0.5rem;
	height: 1.95rem;
	display: flex;
	border-bottom: 1px solid #e1e1e1;
}
.y_nav_center_right>div.y_nav_mtop{
	margin-top: 0.2rem;
}

.y_nav_center_right>div>span{
	display: block;
	color: #fff;
	font-size: 1rem;
	padding-left: 0.3rem;
	line-height: 1.95rem;
}
.y_nav_center_right>div>input{
	flex: 1;
	padding-left: 0.5rem;
}
/*.y_nav_mtop_yz{
	margin-top: 0.5rem;
}*/
.y_nav_mtop>div{
	margin-left: 0.3rem;
	line-height: 1.95rem;
	text-align: center;
	color: #fff;
	font-size: 0.625rem;
	background: rgba(0,0,0,0.4);
	border-radius: 8px;
	padding: 0 0.3rem;
}
.y_nav_mtop>#input{
	width: 2.5rem;
	float: left;
	border-radius: 8px;
	background: rgba(0,0,0,0.4);
	border-radius: 10px;
	color: #fff;
}
.y_nav_mtop>#code{
	float: left;
	border-radius: 8px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	margin-left: 0.3rem;
	padding: 0 0.4rem;
	
}
.y_nav_mtop>#btn{
	margin-left: 0.3rem;
	line-height: 1.95rem;
	height: 1.95rem;
	text-align: center;
	color: #fff;
	font-size: 0.625rem;
	background: rgba(0,0,0,0.4);
	border-radius: 8px;
	padding: 0 0.2rem;
	display: block;
}
.y_background{
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.y_kuang{
	width: 12.5rem;
	height: 6rem;
	background: rgba(0,0,0,0.95);
	position: absolute;
	top: 35%;
	left: 11%;
	border-radius: 10px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	line-height: 4rem;
	font-size: 0.8rem;
}
.y_kuang>div{
	width: 100%;
	height: 2rem;
	background: #8c88ff;
	position: absolute;
	bottom: 0;
	color: #fff;
	text-align: center;
	line-height: 2rem;
	font-size: 0.8rem;
}
.y_background1{
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.y_nav_mtop_cook{
	margin-top: 0.2rem;
	background: pink;
}
