
*{
	font-family: "微软雅黑";
}

.wcg_show{
	
	height:0;
	overflow: hidden;
}
.wcg_show_yes{
	display: block;
}
.wcg_tianja{
	width:2rem;
	height:2rem;
	border:1px solid #00AFF2;
	text-align: center;
	color: #CCCCCC;
	line-height: 2rem;
	border-radius: 8px;
	color: #00AFF2;
}
.wcg_tile input{
	position: relative;
	top:-5px;
	color: #00AFF2;
}
.wcg_zhu{
	
	margin: 0 10px;
}
.wcg_xun{
	border-bottom: 1px solid #3AB1FF;
	padding:10px 0;
	margin: 10px 0;
}
.badge{
	color:#CCCCCC;
}
