*{margin: 0;padding: 0;}
.box{
	width: 14rem;
	margin: 0 auto;
}
.yr_nav{
	height: 2.5rem;
	background: #222828;
	line-height: 2.5rem;
	width:100%;
	height: 2.5rem;
	position:fixed;
	left:0;
	top:0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;	
}
.yr_logo a{
	color: #fff;
	margin-left: .5rem;
}
.yr_logo>a>img{
	height: 2rem;
	margin-left: 2.5rem;
}

.yr_fa{
	width: 100%;
	margin-top:2.5rem;
}
.yr_content{
	width:100%;
}
.yr_content>div{
	width: 100%;
	float: left;
}
.yr_content .list{
	height: 3rem;
	border-bottom: 0.025rem solid #ccc;
	line-height: 3rem;
	display: -webkit-box;
	-webkit-box-orient: horizontal;	
}
.yr_content .list p{
	-webkit-box-flex: 1;
	font-size: 0.6rem;
	margin-left: .5rem;
}
.yr_content .list p a{
	color: #011939;
}
.yr_content .list>a{
	display:block;
}
.yr_content .list>a p{
	font-size:.85rem;
	color:#222828;
	line-height:3rem;
	margin-right: 0.5rem;
}
.yr_footer{
	width: 100%;
	height: 3rem;
	display: -webkit-box;
	-webkit-box-orient: horizontal;	
	background: #fff;
	border-top: 0.025rem solid #ccc;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 5;
}
.yr_footer .yr_pkq{
	-webkit-box-flex: 1;
	text-align: center;
}
.yr_footer .yr_pkq span{
	font-size: 1.25rem;
	margin-top: 0.4rem;
	margin-bottom: 0.3rem;
}
.yr_footer .yr_pkq p{
	font-size:.6rem ;
	font-family: "微软雅黑";
}
a:hover{
	color: #222828;
}
.active{
	color: #C4708A;
}
.r_active{
	color: #C4708A;
}
.yr_active{
	color: #C4708A;
}
.modal-dialog{
	margin-top: 6rem;
}
