<div class="y_box" id="y_box" ng-controller="pyan">
	<div class="y_logo">
		<div class="y_logo_bot">

		</div>
	</div>
	<div class="y_nav">
		<div class="y_nav_top">
			<div class="active" id="y_zhuce">注册</div>
			<div id="y_deng">登录</div>
		</div>
		<!--//注册-->
		<div class="y_nav_center_left" id="y_nav_center_left">
			<div>
				<span class="glyphicon glyphicon-user"></span>
				<input type="text" placeholder="请输入邮箱" ng-model="data.username"/>
			</div>
			<div class="y_nav_mtop">
				<span class="glyphicon glyphicon-lock"></span>
				<input type="password" placeholder="请输入密码" ng-model="data.password"/>
			</div>
			<div class="y_nav_mtop">
				<span class="glyphicon glyphicon-lock"></span>
				<input type="password" placeholder="请重新输入密码" ng-model="data.word"/>
			</div>
			<span class="y_denglu">
				<p id="y_zcan" ng-click="signin()">注册</p>
			</span>
		</div>
		<!--//登录-->
		<div class="y_nav_center_right" id="y_nav_center_right">
			<div>
				<span class="glyphicon glyphicon-user"></span>
				<input type="text" placeholder="请输入邮箱" ng-model="updata.username" ng-value="deng" id="y_dl_phone"/>
			</div>
			<div class="y_nav_mtop">
				<span class="glyphicon glyphicon-lock"></span>
				<input type="password" placeholder="请输入密码" ng-model="updata.password" id="y_dl_pass"/>
			</div>
			<div class="y_nav_mtop">
				<span class="glyphicon glyphicon-lock"></span>
				<input type="text" id="input" ng-model="security" />
				<div id="code"></div>
				<div id="change">看不清，换一张</div>
			</div>
			<span class="y_nav_mtop_cook">
				<input type="checkbox" ng-checked="check" ng-model="check" />
				记住密码
			</span>
			<span class="y_denglu">
				<p id="y_dlan" ng-click="login()">登录</p>
			</span>
		</div>
	</div>
	<div class="y_background" ng-class="y_background">
		<div class="y_kuang">
			{{borrow}}
			<div ng-click="close()">确定</div>
		</div>
	</div>
	
</div>
<script>
	var h = window.innerHeight
	$('#y_box').css('height',h)
</script>