<div ng-controller="yr_mine">
	<div class="r_header">
		<div class="r_head">
			<div class="circle">
				<img src="images/y_logo.png" />
			</div>
			<p href="javascipr:;" class="headName">{{username}}</p>
		</div>
	</div>

	<div class="btn btn-primary box r_password" ng-click="passblock()">修改密码</div>
	<div class="btn btn-danger box r_password"  ng-click="exit()">退出登录 </div>

	<div class="y_tankuang" ng-class="y_tankuang">
		<em class="r_close glyphicon glyphicon-remove-circle" ng-click="yr_close()"></em>
		<span class="y_pass">
			<p><i>*</i>初始密码:</p>
			<input type="password" placeholder="请输入原密码" ng-model="password_old"/>
			<p><i>*</i>新密码:</p>
			<input type="password" placeholder="请输入新密码" ng-model="password_new"/>
			<p><i>*</i>确认密码:</p>
			<input type="password" placeholder="请重新输入新密码" ng-model="password_new2"/>
			<div class="btn btn-primary box r_password"  ng-click="ynone()">提交</div>
		</span>
	</div>
</div>