<div ui-view="main" ng-controller="yr">

    <div class="yr_nav" style="z-index: 1551;">
        <div class="yr_logo">
            <a href="javascript:;">SurveyTime</a>
        </div>
        <div class="yr_username">
            <p>欢迎：{{username}}</p>
        </div>
    </div>
    <div class="yr_fa">
        <div class="yr_content">
            <div list2 ui-view="content"></div>

		</div>
	</div>
	<div class="yr_footer">
		<div class="yr_pkq">
			<a href="javascript:;" ng-click="go()">
				<span class="glyphicon glyphicon-list"></span>
				<p>列 表</p>
			</a>
		</div>
		<div class="yr_pkq">
			<a href="javascript:;" ng-click="add()">
				<span class="glyphicon glyphicon-plus"></span>
				<p>添 加</p>
			</a>
		</div>
		<div class="yr_pkq">
			<a href="javascript:;" ng-click="mine()">
				<span class="glyphicon glyphicon-user"></span>
                        <p>我 的</p></a>
		</div>
	</div>
</div>