<div ng-controller="wcg_ju" class="wcg_zhu">
	<input type="text" placeholder="请输入调查的主题" style="width:100%;margin-top:10px;text-align: center;" class="form-control" ng-model="wcg_chaun[0].title">
	<input ng-model="wcg_title" style="border: none; background: none; color: red;"></input>
	<div ng-repeat="a in wcg_arr_1" class="wcg_xun">
		<h4 style="color:#3AB1FF;font-size: 0.9rem; margin: 10px 0;">问题{{$index+1}}</h4> 请输入问题：
		<span style="color: red;">{{a.da1}}</span><br>
		<div class="input-group" style="margin: 10px 0;">

			<input type="text" placeholder="请输入问题" class="form-control" ng-model="wcg_chaun[0].option[$index].title"><br>
			<span ng-click="dians($index)" class="input-group-addon"><i class="glyphicon glyphicon-remove"></i></span>
		</div>

		<!--<div>{{}}</div>-->
		<div id="no{{$index}}">
			<span style="color: red;">{{a.da3}}</span>
			<div class="wcg_show">
				<textarea style="width:100%;height:1.5rem;resize:none" class="form-control"></textarea>
			</div>
			<div class="wcg_show">

				<span ng-repeat="b in wcg_arr_1[$index].arr">  
      		
      		
      		<span>单选框  {{$index+1}}</span> <span ng-click="dians2($index,$parent.$index)" style="float:right;color:#D84C29" class="glyphicon glyphicon-trash"></span><br>
				<input type="text" class="form-control" id="inputSuccess2" ng-model="wcg_chaun[0].option[$parent.$index].opt[$index].op" style="margin: 10px 0;">

				</span>
				<br>
				<button ng-click="btn2($index)" class="btn btn-info">添加</button>
			</div>
			<div class="wcg_show">
				<span ng-repeat="d in wcg_arr_1[$index].arr">
        		
        		<span>多选框  {{$index+1}}</span> <span ng-click="dians3($index,$parent.$index)" style="float:right;color:#D84C29" class="glyphicon glyphicon-trash"></span><br>

				<input type="text" class="form-control" ng-model="wcg_chaun[0].option[$parent.$index].opt[$index].op" style="margin: 10px 0;">

				</span>
				<br>
				<button ng-click="btn3($index)" class="btn btn-info">添加</button>
			</div>
			<div class="wcg_show">
				<input type="text" class="form-control">
			</div>
			<br>
		</div>
		<div class="wcg_tile">
		选择问题类型：<span style="color: red;">{{a.da2}}</span><br><br>
		<label class="radio-inline">
		<input type="radio" name="sex1{{$index}}" value="0" ng-click="sex0('no'+$index,0,$index)" ng-model="wcg_chaun[0].option[$index].type" /> 填空
		</label>
		<label class="radio-inline">
		<input type="radio" name="sex1{{$index}}" value="1" ng-click="sex1('no'+$index,1,$index)" ng-model="wcg_chaun[0].option[$index].type" /> 单选
		</label>
		<label class="radio-inline">
		<input type="radio" name="sex1{{$index}}" value="2" ng-click="sex2('no'+$index,2,$index)" ng-model="wcg_chaun[0].option[$index].type" /> 多选
		</label>
		<label class="radio-inline">
		<input type="radio" name="sex1{{$index}}" value="3" ng-click="sex3('no'+$index,3,$index)" ng-model="wcg_chaun[0].option[$index].type" /> 简答
	    </label>
		</div>
	</div>
	<div ng-click="btn()" class="wcg_tianja"><i class="glyphicon glyphicon-plus"></i></div>
	<div class="btn btn-primary" style="width: 100%;margin:10px 0 3.6rem;" ng-click="wcg_over()">完成</div>
	<div class="xhr" style="position:relative;bottom: 6.5rem; left: 13rem;" >
		 <img src="images/2.png"/>
	</div>
</div>