<div class="lik_survey">
    <h1>{{likData.title}}</h1>
    <div class="lik_survey_question" ng-repeat="x in likData.option">
        <div class="lik_ques_head">
            <div class="lik_num">{{$index+1}}</div>
            <div class="lik_ques">{{x.title}}</div>
        </div>
        <div ng-show="x.type == 1" class="lik_ques_cont likradio{{$parent.$parent.$index}}" ng-repeat="l in x.opt">
            <div class="lik_ques_opt"><input type="radio" name="{{$parent.$index}}" />{{l.op}}</div>
        </div>
        <div ng-show="x.type == 2" class="lik_ques_cont" ng-repeat="l in x.opt">
            <div class="lik_ques_opt"><input type="checkbox" name="{{$parent.$parent.$index}}" />{{l.op}}</div>
        </div>
        <input type="text" class="liktext" ng-show="x.type == 0" style="width:100%;height:1.5rem;text-indent:.2rem;border:1px solid #000;background-color: #fff;color:#000;" />
        <textarea class="likarea" ng-show="x.type == 3" style="width:100%;height:5rem;box-sizing:border-box;padding:.5rem;"></textarea>
    </div>
    <button class="aSubmit" ng-click="lik_submit()">提交数据</button>
</div>